<section class="about">
  <div class="container about-container">
    <div class="about-content">
      <div class="title-container">
        <h2 class="about-title" id="about_us">About Us</h2>
      </div>
      <p class="about-caps-text">
        Our сraftsmanship: сreating unique handmade furniture
      </p>
      <p class="about-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>

      <ul class="list statistics-list">
        <li class="statistics-item">
          <p class="statistics-numbers">5+</p>
          <p class="statistics-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="statistics-item">
          <p class="statistics-numbers">100%</p>
          <p class="statistics-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="statistics-item">
          <p class="statistics-numbers">500+</p>
          <p class="statistics-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <picture class="about-image">
      <source
        srcset="./img/about/about-desc.jpg 1x, ./img/about/about-desc-2x.jpg 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/about/about-tab.jpg 1x, ./img/about/about-tab-2x.jpg 2x"
        media=" (min-width: 768px)"
      />
      <source
        srcset="./img/about/about-mob.jpg 1x, ./img/about/about-mob-2x.jpg 2x"
        media=" (max-width: 767px)"
      />
      <img
        src="./img/about/about-desc.jpg"
        alt="White minimalist seating"
        class="about-image"
        width="767"
      />
    </picture>
  </div>
</section>
