<section class="bestsellers">
  <div class="container">
    <div><h2 class="bestsellers_title" id="bestsellers">Bestsellers</h2></div>
    <div class="bestsellers_flex">
    <div class="bestsellers_platform">
      <picture>
        <source
          srcset="
          ./img/bestsellers/bestsellers-desc1.jpg 1x,
          ./img/bestsellers/bestsellers-desc1-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/bestsellers/bestsellers-tab1.jpg 1x,
          ./img/bestsellers/bestsellers-tab1-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/bestsellers/bestsellers-mob1.jpg 1x,
          ./img/bestsellers/bestsellers-mob1-2x.jpg 2x"
          media="(max-width: 767px)" 
        />
        <img
          class="bestsellers_images"
          src="./img/bestsellers/bestsellers-tab1.jpg"
          alt="bedroom"
          width="704" 
        />
      </picture>
      <p class="bestsellers_text">The modern platform bed</p>
        <p class="bestsellers_price">750&#x24;</p>
    </div>
    <ul class="bestsellers_list list">
      <li class="bestsellers_item">
        <picture>
          <source
            srcset="./img/bestsellers/bestsellers-desc2.jpg 1x,
            ./img/bestsellers/bestsellers-desc2-2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/bestsellers/bestsellers-tab2.jpg 1x,
            ./img/bestsellers/bestsellers-tab2-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/bestsellers/bestsellers-mob2.jpg 1x,
            ./img/bestsellers/bestsellers-mob2-2x.jpg 2x"
            media="(max-width: 767px)" 
          />
          <img
            class="bestsellers_catalog"
            src="./img/bestsellers/bestsellers-tab2.jpg"
            alt="lounge with chairs"
            width="343"
          />
        </picture>
        <p class="bestsellers_text">The Cozy Lounge Chair</p>
        <p class="bestsellers_price">230&#x24;</p>
      </li>
      <li class="bestsellers_item">
        <picture>
          <source
            srcset="./img/bestsellers/bestsellers-desc3.jpg 1x,
            ./img/bestsellers/bestsellers-desc3-2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
          srcset="./img/bestsellers/bestsellers-tab3.jpg 1x,
          ./img/bestsellers/bestsellers-tab3-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/bestsellers/bestsellers-mob3.jpg 1x,
            ./img/bestsellers/bestsellers-mob3-2x.jpg 2x"
            media="(max-width: 767px)" 
          />
          <img
            class="bestsellers_catalog"
            src="./img/bestsellers/bestsellers-tab3.jpg"
            alt="a room with a chair and a round table"
            width="343"
          />
        </picture>
        <p class="bestsellers_text">The industrial accent chair</p>
        <p class="bestsellers_price">250&#x24;</p>
      </li>
      <li class="bestsellers_item bestsellers_item-none">
        <picture>
          <source
            srcset="./img/bestsellers/bestsellers-desc4.jpg 1x,
            ./img/bestsellers/bestsellers-desc4-2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/bestsellers/bestsellers-tab4.jpg 1x,
            ./img/bestsellers/bestsellers-tab4-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="bestsellers_catalog"
            src="../img/bestsellers/bestsellers-tab4.jpg"
            alt="cabinet with vases"
            width="336"
          />
        </picture>
        <p class="bestsellers_text">The sleek stand</p>
        <p class="bestsellers_price">300&#x24;</p>
      </li>
      <li class="bestsellers_item bestsellers_item-none">
        <picture>
          <source
            srcset="./img/bestsellers/bestsellers-desc5.jpg 1x,
            ./img/bestsellers/bestsellers-desc5-2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/bestsellers/bestsellers-tab5.jpg 1x,
            ./img/bestsellers/bestsellers-tab5-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="bestsellers_catalog"
            src="../img/bestsellers/bestsellers-tab5.jpg"
            alt="minimalist gray sofa"
            width="336"
          />
        </picture>
        <p class="bestsellers_text">The minimalist sofa</p>
        <p class="bestsellers_price">650&#x24;</p>
      </li>
    </ul>
  </div>
  </div>
</section>