<footer class="footer">
        <div class="footer-container container">

            <div class="footer-uno">
                <div class="footer-logo-nav">
                    <div class="footer-logo">
                        <a href="/">
                            <svg class="footer-logo-icon">
                                <use href="./img/icons.svg#icon-logo" alt="Logo_MINIMAL"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="footer-nav-dox">
                        <nav class="footer-nav">
                            <ul class="footer-nav-list list">
                                <li><a href="#about" class="footer-nav-link link">About us</a></li>
                                <li><a href="#products" class="footer-nav-link link">Our products</a></li>
                                <li><a href="#prices" class="footer-nav-link link">Prices</a></li>
                                <li><a href="#bestsellers" class="footer-nav-link link">Bestsellers</a></li>
                                <li><a href="#reviews" class="footer-nav-link link">Reviews</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="footer-social">
                    <ul class="social-list list">
                        <li class="social-item">
                            <a class="social-icon-link link" 
                            href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                                <svg class="footer__icon-link">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social-item">
                            <a class="social-icon-link link" 
                            href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                                <svg  class="footer__icon-link">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg> 
                            </a>
                        </li>

                        <li class="social-item">
                            <a class="social-icon-link link" href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                                <svg class="footer__icon-link">
                                    <use href="./img/icons.svg#icon-youtube"></use>
                                </svg> 
                            </a>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="contact" id="contacts">

                <div class="address-footer">
                    <address class="address-mapa">
                        <a href="https://goo.gl/maps/YEw7Lp4rMnG961yL8" class="address-mapa-link link" target="_blank">
                            Obolonsky Prospect, 14, Kyiv
                        </a>
                      <p class="address-mapa-link">Daily 10:00-21:00 </p>
                    </address>
                     
                </div>

                <div class="telefons">
                    <a href="tel:+380669384758" class="telefons-item link">+380669384758</a>
                    <a href="tel:+380679384758" class="telefons-item link">+380679384758</a>
                </div>


                <div class="pochta">
                    <a href="mailto:minimal.furniture@gmail.com" class="pochta link">minimal.furniture@gmail.com</a>
                </div>
            </div>

            <!-- Terms and policies  -->
            <div class="you-agree">
                <p class="you-agree-text">
                    By using this website, you agree to the
                    <a href="#" class="accent-link">Terms of Service</a>
                    and 
                    <a href="#" class="accent-link">Privacy Policy</a>
                </p>
            </div>
        </div>
    </footer>
