<header class="header_main" id="top">
  <div class="header_container">
    <div class="header_section">
      <nav class="header_menu">
        <a href="#" class="logo">
          <svg width="inherit" height="inherit">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg></a>
        <button type="button" class="burger_menu js-open-menu">
          <svg width="32" height="32">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
    <div class="desktop">
      <nav class="desktop_menu">
        <a href="#" class="logo">
          <svg width="inherit" height="inherit">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="list">
          <li class="list_links">
            <a class="link pages" href="#about">About us</a>
          </li>
          <li class="list_links">
            <a class="link pages" href="#products">Our products</a>
          </li>
          <li class="list_links">
            <a class="link pages" href="#prices">Prices</a>
          </li>
          <li class="list_links">
            <a class="link pages" href="#bestsellers">Bestsellers</a>
          </li>
          <li class="list_links">
            <a class="link pages" href="#reviews">Reviews</a>
          </li>
          <li class="list_links">
            <a class="link pages" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="burger_container js-menu-container no-scroll" id="mobile-menu">
      <div class="burger_content">
        <div class="burger_header">
          <a href="#" class="logo">
            <svg width="inherit" height="inherit">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
          </a>
          <button type="button" class="toggle-close js-close-menu">
            <svg fill="none" width="inherit" height="inherit">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="burger_nav">
        <nav class="burger_nav_menu">
          <ul class="list">
            <li class="list_links">
              <a class="link js-close-menu pages" href="#about">About us</a>
            </li>
            <li class="list_links">
              <a class="link js-close-menu pages" href="#products">Our products</a>
            </li>
            <li class="list_links">
              <a class="link js-close-menu pages" href="#prices">Prices</a>
            </li>
            <li class="list_links">
              <a class="link js-close-menu pages" href="#bestsellers">Bestsellers</a>
            </li>
            <li class="list_links">
              <a class="link js-close-menu pages" href="#reviews">Reviews</a>
            </li>
            <li class="list_links">
              <a class="link js-close-menu pages" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>


    </div>
  </div>
</header>