<header>
    
        <div class="header_container">
            <div class="header_section">
            <nav class="header_menu">
        <a href="#" class="logo">
            <svg width="100" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
            </svg></a>
            <button type="button" class="burger_menu js-open-menu">
                <svg width="32" height="32">
                    <use href="./img/icons.svg#icon-menu"></use></svg>
                </button>
            </nav>
        </div>
        <div class="desktop">
            <nav class="desktop_menu">
                <a href="#" class="logo">
                    <svg width="100" height="16">
                        <use href="./img/icons.svg#icon-logo"></use>
                    </svg></a>

                <ul class="list">
                    <li class="list_links">
                        <a class="link" href="#about">About us</a>
                    </li><li class="list_links">
                        <a class="link" href="#hero-section">Our products</a>
                    </li>
                    <li class="list_links">
                        <a class="link" href="#prices">Prices</a>
                    </li>
                    <li class="list_links">
                        <a class="link" href="#bestsellers">Bestsellers</a>
                    </li>
                    <li class="list_links">
                        <a class="link" href="#reviews">Reviews</a>
                    </li>
                    <li class="list_links">
                        <a class="link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="burger_container js-menu-container" id="mobile-menu">
        <div class="burger_content">
        <div class="burger_header">
            <a href="#" class="logo">
                <svg width="100" height="16">
                    <use href="./img/icons.svg#icon-logo"></use>
                </svg></a>
            <button type="button" class="toggle-close js-close-menu">
                <svg fill="none" width="32" height="32"><use href="./img/icons.svg#icon-close"></use>
            </svg></button>
        </div>
    </div>
    
    <div class="burger_nav">
        <nav class="burger_nav_menu">
            <ul class="list">
                <li class="list_links">
                    <a class="link" href="#about">About us</a>
                </li><li class="list_links">
                    <a class="link" href="#product">Our products</a>
                </li>
                <li class="list_links">
                    <a class="link" href="#prices">Prices</a>
                </li>
                <li class="list_links">
                    <a class="link" href="#bestsellers">Bestsellers</a>
                </li>
                <li class="list_links">
                    <a class="link" href="#reviews">Reviews</a>
                </li>
                <li class="list_links">
                    <a class="link" href="#contacts">Contacts</a>
                </li>
            </ul>
                </nav>
    </div>
</div>

</header>

