<section class="price-section" id="prices">
    <div class="container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="furniture-item-list">
            <li class="furniture-item">
                <label class="before-furniture before-line">
                    <input type="radio" name="furniture" id="myCheckbox">
                    <p class="furniture-item-p">Chairs</p>
                    <p class="furniture-price-item">from 200&#36;</p>
                </label>
            </li>
            <li class="furniture-item">
                <label class="before-furniture before-line">
                    <input type="radio" name="furniture" id="myCheckbox">
                    <p class="furniture-item-p">Tables</p>
                    <p class="furniture-price-item">from 250&#36;</p>
                </label>
            </li>
            <li class="furniture-item">
                <label class="before-furniture before-line">
                    <input type="radio" name="furniture" id="myCheckbox">
                    <p class="furniture-item-p"> Dressers</p>
                    <p class="furniture-price-item">from 300&#36;</p>
                </label>
            </li>
            <li class="furniture-item">
                <label class="before-furniture before-line after-line">
                    <input type="radio" name="furniture" id="myCheckbox">
                    <p class="furniture-item-p">Sofas</p>
                    <p class="furniture-price-item">from 500&#36;</p>
                </label>
            </li>
        </ul>
    </div>
    <script>
        const paragraph = document.querySelector('.furniture-item-p');
        paragraph.addEventListener('click', () => {
            paragraph.classList.toggle('active');
        });
    </script>
</section>