<section class="price-section" id="prices">
   <div class="price-container">
        <div class="furniture-item-container">
            <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
            <ul class="furniture-item-list">
                <li class="furniture-item before-line">Chairs</li>
                <li class="furniture-item before-line">Tables</li>
                <li class="furniture-item before-line">Dressers</li>
                <li class="furniture-item before-line after-line">Sofas</li>
            </ul>
        </div>
        <div class="furniture-price-container">
            <ul class="furniture-price-list">
                <li class="furniture-price-item">from 200₴</li>
                <li class="furniture-price-item">from 250₴</li>
                <li class="furniture-price-item">from 300₴</li>
                <li class="furniture-price-item">from 500₴</li>
            </ul>
        </div>
   </div>
</section>