<section class="products">
    <div class="container">
        <h2 class="products-title">Our products</h2>
        <ul class="list products-list">
            <li class="products-card">
                <img srcset="./img/products/product-mob.jpg 1x, ./img/products/product-mob-2x.jpg 2x"
                    src="./img/products/product-mob.jpg" alt="Minimalist storage solutions" width="343" height="300">
                <p class="products-description">Minimalist storage solutions</p>
            </li>
        </ul>
    </div>
</section>