<!-- <section class="products">
    <div class="container">
        <h2 class="products-title">Our products</h2>
        <ul class="list products-list">
            <li class="products-card-one">
                <picture>
                    <source srcset="
                    ./img/products/product-desc1.jpg    1x, 
                    ./img/products/product-desc1-2x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="
                    ./img/products/product-tab1.jpg    1x, 
                    ./img/products/product-tab1-2x.jpg 2x"  media=" (min-width: 768px)" />
                    <source srcset="
                    ./img/products/product-mob.jpg 1x, 
                    ./img/products/product-mob-2x.jpg 2x" media="(max-width: 767px)" />
                    <img srcset="./img/products/product-mob.jpg 1x, ./img/products/product-mob-2x.jpg 2x"
                        src="./img/products/product-mob.jpg" alt="Minimalist storage solutions" width="688" />
                </picture>
                <p class="products-description">Minimalist storage solutions</p>
            </li>

            <li class="products-card-two">
                <picture>
                    <source srcset="
                    ./img/products/product-desc2.jpg    1x, 
                    ./img/products/product-desc2-2x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="
                    ./img/products/product-tab2.jpg    1x, 
                    ./img/products/product-tab2-2x.jpg 2x"  media=" (min-width: 768px)" />
                    <img srcset="./img/products/product-tab2.jpg 1x, ./img/products/product-tab2-2x.jpg 2x"
                        src="./img/products/product-tab2.jpg" alt="Handcrafted minimalist seating" width="688" />
                </picture>
                <p class="products-description">Handcrafted minimalist seating</p>
            </li>

            <li class="products-card-three">
                <picture>
                    <source srcset="
                    ./img/products/product-desc3.jpg    1x, 
                    ./img/products/product-desc3-2x.jpg 2x" media="(min-width: 1440px)" />
                    <img srcset="./img/products/product-desc3.jpg 1x, ./img/products/product-desc3-2x.jpg 2x"
                        src="./img/products/product-desc3.jpg" alt="Sleek and simple tables" width="688" />
                </picture>
                <p class="products-description">Sleek and simple tables</p>
            </li>

            <li class="products-card-four">
                <picture>
                    <source srcset="
                    ./img/products/product-desc4.jpg    1x, 
                    ./img/products/product-desc4-2x.jpg 2x" media="(min-width: 1440px)" />
                    <img srcset=" ./img/products/product-desc4.jpg 1x, ./img/products/product-desc4-2x.jpg 2x"
                        src=" ./img/products/product-desc4.jpg" alt="Minimalist seating for every space" width="688" />
                </picture>
                <p class="products-description">Minimalist seating for every space</p>
            </li>

        </ul>
    </div>
</section> -->