<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title section-title">Clients reviews</h2>
    <ul class="reviews-list">
      <li class="review-item">
        <div class="review-block">
          <img
            srcset="
              ./img/reviews/reviews-desc1.jpg    1x,
              ./img/reviews/reviews-desc1-2x.jpg 2x
            "
            src="./img/reviews/reviews-desc1.jpg"
            alt="Alexandra Dream"
            class="reviews-image"
          />
          <div class="review-block-text">
            <h3 class="review-subtitle">Alexandra Dream</h3>
            <p class="review-time">1 week ago</p>
          </div>
        </div>
        <p class="review-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="review-item">
        <div class="review-block">
          <img
            srcset="
              ./img/reviews/reviews-desc2.jpg    1x,
              ./img/reviews/reviews-desc2-2x.jpg 2x
            "
            src="./img/reviews/reviews-desc2.jpg"
            alt="James Williams"
            class="reviews-image"
          />
          <div class="review-block-text">
            <h3 class="review-subtitle">James Williams</h3>
            <p class="review-time">A week ago</p>
          </div>
        </div>
        <p class="review-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="review-item">
        <div class="review-block">
          <img
            srcset="
              ./img/reviews/reviews-desc3.jpg    1x,
              ./img/reviews/reviews-desc3-2x.jpg 2x
            "
            src="./img/reviews/reviews-desc3.jpg"
            alt="Emily Watson"
            class="reviews-image"
          />
          <div class="review-block-text">
            <h3 class="review-subtitle">Emily Watson</h3>
            <p class="review-time">3 week ago</p>
          </div>
        </div>
        <p class="review-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
