<section class="section-subscription" id="section-subscription">
  <div class="container form-container">
    <div class="form-text-box">
      <h2 class="form-title">Newsletter</h2>
      <p class="form-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="form">
        <input
          type="text"
          class="form-input"
          placeholder="Name"
          id="form-input"
          name="form-input"
        />
        <input
          type="email"
          class="form-input"
          placeholder="E-mail"
          id="form-input"
          name="form-input"
        />
          <input
            type="checkbox"
            class="form-checkbox visually-hidden"
            value="true"
            id="form-checkbox"
            name="form-checkbox"
          />
          <label for="form-checkbox" class="check-text">
            <span class="form-checkbox-accent">
              <svg class="checkbox-icon" width="13" height="13">
                <use href="../img/icons.svg#icon-check"></use>
              </svg>
            </span>
            Agree to subscribe to the newsletter
          </label>

        <button class="form-btn">Send</button>
      </form>
    </div>
    <div class="form-img-box">
      <a href="" class="form-img">
        <img
          src="../img/subscription/subscription-mob.jpg"
          srcset="../img/subscription/subscription-mob.jpg 1x, ../img/subscription/subscription-mob-2x.jpg subscription-mob-2x"
          alt="Blue Sofa"
        />
      </a>
    </div>
  </div>
</section>
