<section class="section-subscription" id="section-subscription">
  <div class="container form-container">
    <div class="form-text-box">
      <h2 class="form-title">Newsletter</h2>
      <p class="form-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="form">
        <div class="modal-field">
          <input
            type="text"
            class="form-input"
            placeholder="Name"
            id="form-input"
            name="form-input"
          />
          <input
            type="email"
            class="form-input"
            placeholder="E-mail"
            id="form-input"
            name="form-input"
          />
        </div>
        <div class="modal-field">
          <input
            type="checkbox"
            class="form-checkbox visually-hidden"
            value="true"
            id="form-checkbox"
            name="form-checkbox"
          />
          <label for="form-checkbox" class="check-text-box">
            <span class="form-checkbox-accent" width="25" height="25">
              <svg class="checkbox-icon" width="13" height="13">
                <use href="../img/icons.svg#icon-check"></use>
              </svg>
            </span>

            <p class="form-check-text">Agree to subscribe to the newsletter</p>
          </label>

          <button class="form-btn">Send</button>
        </div>
      </form>
    </div>
    <div class="form-img-box">
      <a href="" class="form-img">
        <picture>
          <source
            srcset="
              ../img/subscription/subscription-desc.jpg    1x,
              ../img/subscription/subscription-desc-2x.jpg 2x
            "
            media="(min-width: 1128px)"
          />
          <source
            srcset="
              ../img/subscription/subscription-tab.jpg    1x,
              ../img/subscription/subscription-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704px"
            height="396px"
          />
          <source
            srcset="
              ../img/subscription/subscription-mob.jpg    1x,
              ../img/subscription/subscription-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            width="343px"
            height="300px"
            src="../img/subscription/subscription-desc.jpg"
            alt="Blue Sofa"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
