body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--blue-font, #0a224a);
  background-color: var(--white, #FFFFFF);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.bestsellers {
  padding: 64px 0;
}
.bestsellers_title{
  color: var(--blue-font, #0A224A);
font-size: 28px;
font-weight: 400;
text-transform: uppercase;
text-align: center;
margin-bottom: 21px;
}
.bestsellers_platform {
  margin-bottom: 30px;;
}
.bestsellers_text {
  color: var(--blue-font, #0A224A);
font-size: 16px;
font-weight: 400;
margin-bottom: 10px;
}

.bestsellers_images {
  width: 100%;
  max-width: 343px;
  margin-bottom: 14px;
}
.bestsellers_price {
  color: var(--blue-font, #0A224A);
font-size: 16px;
font-weight: 700;
}
.bestsellers_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.bestsellers_item {

}
.bestsellers_item-none{
  display: none;
}
.bestsellers_catalog {
  
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 373px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  .bestsellers {
    padding: 100px 0;
  }
  .bestsellers_platform {
    margin-bottom: 32px;;
  }
  .bestsellers_list {
    gap: 32px;
  }
  .bestsellers_item{
  width: calc((100% - 32px) / 2);
  }
  .bestsellers_item-none{
    display: block;
  }
  .bestsellers_title{
  font-size: 32px;}
  .bestsellers_text{
    font-size: 18px;
  }
  .bestsellers_images {
    max-width: 704px;
  }
  
  .bestsellers_price{
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1126px;
    
  }
.bestsellers_flex{
  display: flex;
  gap: 32px;
  }
.bestsellers_list{ 
  gap: 20px;
  width: calc((100% - 20px) / 2); 
}
.bestsellers_images {
  max-width: 536px;
}
}