@media (min-width:300px){
.header_container{
    padding: 28px 16px;
    background-color: var(--light-blue);
}


.header_menu {
    max-width:343px ;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.header_menu .logo {
    width: 100px;
    height: 16px;
}

.burger_menu {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    min-height: 32px;
    min-width: 32px;
    stroke: var(--blue-font);
    border-radius: 4px;
}

.burger_menu:focus {
    stroke: var(--white);
    background-color:var(--blue-font) ;
}

.desktop {
    display: none;
}

.burger_container {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    transform: translateY(-150%);
    z-index: 999;
    top: 0;
    left: 0;
    transition: transform 250ms ease-in-out;
    position: fixed;
    overflow: scroll;
}

.burger_content {
    padding: 28px 16px;
    margin: 0 auto;
    background-color: var(--light-blue);
}

.burger_container.is-open {
    transform: translateX(0);
}

.burger_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 343px;
    margin: 0 auto;
}

.burger_header .logo {
    width: 100px;
    height: 16px;
}

.toggle-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    stroke: var(--blue-font);
    width: 32px;
    height: 32px;
}

.toggle-close:focus {
    stroke: var(--white);
    border-radius: 50%;
    background-color: var(--blue-font);
    outline: none;
    
}


.burger_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger_nav_menu .list { 
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top:114px;

    color: var(--blue-font);
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.burger_nav_menu .list_links {
    position: relative;
}

    .burger_nav_menu .list .link:hover::after,
      .burger_nav_menu .list .link:focus::after{
        left: 0;
        width: 100%;
        border-radius: 2px;
        background-color: var(--blue-font);
        transition: 250ms ease-in-out;
        height: 3px;
        bottom: -2px;
      }


      .burger_nav_menu .pages::after {
        content: "";
        position: absolute;
      }

}

@media (min-width:768px){
    .header_container {
        padding:28px 32px;
    }

    .header_menu {
        max-width:704px;
    }

    .header_menu .logo {
        width: 127px;
        height: 16px;
    }

    

    .burger_nav_menu .list { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top:158px;

    font-size: 18px;
    line-height: 27px;
}

.burger_content {
    padding: 28px 32px;
    margin: 0 auto;
}

.burger_header {
    max-width: 704px;
}

.burger_header .logo {
    width: 127px;
    height: 16px;
}

.toggle-close {
    width: 40px;
    height: 40px;
}
}

@media (min-width:1440px){
    .header_container {
        padding:26px 60px; 
    }

    .desktop_menu {
        width: 1320px;
    }

    .header_section {
        display: none;
    }

    .desktop_menu .logo {
        width: 127px;
        height: 16px;
    }

    .desktop {
        display: contents;
    }

    .desktop_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        
    }

    .desktop_menu .logo {
        display: flex;
    }
     
    

    .desktop_menu .list {
        display: flex;
        gap: 30px;
        color: var(--blue-font);
        font-family: "Roboto" , sans-serif;
        font-size: 18px;
        line-height: 27px;
    }

    .list_links {
        position: relative;
    }

    .pages::after {
        content: "";
        position: absolute;
      }
      
      .desktop_menu .list .link:hover::after,
      .desktop_menu .list .link:focus::after{
        left: 0;
        width: 100%;
        border-radius: 2px;
        background-color: var(--blue-font);
        transition: 250ms ease-in-out;
        height: 2px;
        bottom: -2px;
      }

     

    .list_links {
        display: flex;
    }
}