.price-section {
    padding: 94px 16px;
    background-color: var(--white);
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
  }
  
  .furniture-item-container {
  }
  
  .furniture-item-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  .furniture-item {
    color: var(--blue-font);
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    display: inline-block;
  }
  
  .before-furniture {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .furniture-price-item {
    color: var(--blue-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: none;
  }
  
  .before-line {
    position: relative;
    color: var(--blue-font);
  }
  
  .before-line::before {
    content: "";
    top: -30px;
    left: 0;
    position: absolute;
    height: 1px;
    background-color: var(--blue-font);
    width: 100%;
  }
  
  
  .after-line::after {
    content: "";
    top: 73px;
    left: 0;
    position: absolute;
    height: 1px;
    background-color: var(--blue-font);
    width: 100%;
  }
  
  
  
  @media screen and (min-width: 375px) {
       .container {
      max-width: 375px;
    } 

    .price-section  {
        max-width: 375px;
    }
  
  }
  
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  
    .price-section {
      padding: 130px 32px;
      max-width: 768px;
    }
  
    .furniture-item-list {
      gap: 60px;
    }
  
    .furniture-item {
      font-size: 32px;
      line-height: 1.41;
    }
  
    .furniture-price-list {
      gap: 78px;
    }
  
    .furniture-price-item {
      font-size: 18px;
      line-height: 1.50; 
    }
  
    .before-line::before {
      content: "";
      top: -30px;
      left: 0;
      position: absolute;
      height: 1px;
      background-color: var(--blue-font);
      width: 100%;
    }
  
    .after-line::after {
      content: "";
      top: 73px;
      left: 0;
      position: absolute;
      height: 1px;
      background-color: var(--blue-font);
      width: 100%;
    }
  
  }
  
  @media screen and (min-width: 1440px) {
      .container {
          max-width: 1440px;
        }
  
        .price-section {
          padding: 130px 16px;
          max-width: 1128px;
        }
  
        .before-line::before {
          content: "";
          top: -30px;
          left: 0;
          position: absolute;
          height: 1px;
          background-color: var(--blue-font);
          width: 100%;
        }
      
        .after-line::after {
          content: "";
          top: 73px;
          left: 0;
          position: absolute;
          height: 1px;
          background-color: var(--blue-font);
          width: 100%;
        }
  }