.price-section {
  padding: 94px 0;
  background-color: var(--white);
  width: 100%;
  margin: 0 auto;
}

.furniture-item-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.furniture-item {
  color: var(--blue-font);
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  display: inline-block;
}

.before-furniture {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.furniture-item-p {
  margin-right: auto;
  cursor: pointer;
  user-select: none;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#myCheckbox:checked + .furniture-item-p {
  transform: translateX(80px);
 }

.furniture-price-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  width: 50px; 
  height: 3px;
  background-color: var(--blue-font);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

#myCheckbox:checked ~ .furniture-price-item::before {
  opacity: 1;
}

.before-furniture input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.furniture-price-item {
  color: var(--blue-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
  cursor: pointer;
  user-select: none;
}

.before-line {
  position: relative;
  color: var(--blue-font);
}

.before-line::before {
  content: "";
  top: -30px;
  left: 0;
  position: absolute;
  height: 1px;
  background-color: var(--blue-font);
  width: 100%;
}


.after-line::after {
  content: "";
  top: 73px;
  left: 0;
  position: absolute;
  height: 1px;
  background-color: var(--blue-font);
  width: 100%;
}



@media screen and (min-width: 375px) {
     .container {
    max-width: 375px;
  } 

  .price-section > .container  {
      max-width: 375px;
  }

}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .price-section > .container {
    max-width: 736px;
  }

  .price-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .furniture-item-list {
    gap: 60px;
  }

  .furniture-item {
    font-size: 32px;
    line-height: 1.41;
  }

  .furniture-price-list {
    gap: 78px;
  }

  .furniture-price-item {
    font-size: 18px;
    line-height: 1.50; 
  }

  .before-line::before {
    content: "";
    top: -30px;
    left: 0;
    position: absolute;
    height: 1px;
    background-color: var(--blue-font);
    width: 100%;
  }

  .after-line::after {
    content: "";
    top: 73px;
    left: 0;
    position: absolute;
    height: 1px;
    background-color: var(--blue-font);
    width: 100%;
  }

}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
      }

      .price-section > .container {
        max-width: 1128px;
      }

      .before-line::before {
        content: "";
        top: -30px;
        left: 0;
        position: absolute;
        height: 1px;
        background-color: var(--blue-font);
        width: 100%;
      }
    
      .after-line::after {
        content: "";
        top: 73px;
        left: 0;
        position: absolute;
        height: 1px;
        background-color: var(--blue-font);
        width: 100%;
      }
      .price-section {
          padding: 94px 0;
          background-color: var(--white);
          width: 100%;
          margin: 0 auto;
        }
        
        .container {
        }
        
        .furniture-item-list {
          display: flex;
          flex-direction: column;
          gap: 60px;
        }
        
        .furniture-item {
          color: var(--blue-font);
          font-size: 28px;
          line-height: 1.5;
          text-transform: uppercase;
          display: inline-block;
        }
        
        .before-furniture {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
        }
      
        .furniture-price-item {
          color: var(--blue-font);
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          text-transform: none;
        }
        
        .before-line {
          position: relative;
          color: var(--blue-font);
        }
        
        .before-line::before {
          content: "";
          top: -30px;
          left: 0;
          position: absolute;
          height: 1px;
          background-color: var(--blue-font);
          width: 100%;
        }
        
        
        .after-line::after {
          content: "";
          top: 73px;
          left: 0;
          position: absolute;
          height: 1px;
          background-color: var(--blue-font);
          width: 100%;
        }
        
        
        
        @media screen and (min-width: 375px) {
             .container {
            max-width: 375px;
          } 
      
          .price-section > .container  {
              max-width: 375px;
          }
        
        }
        
        
        @media screen and (min-width: 768px) {
          .container {
            max-width: 768px;
          }
      
          .price-section > .container {
            max-width: 736px;
          }
        
          .price-section {
            padding-top: 130px;
            padding-bottom: 130px;
          }
      
          .furniture-item-list {
            gap: 60px;
          }
        
          .furniture-item {
            font-size: 32px;
            line-height: 1.41;
          }
        
          .furniture-price-list {
            gap: 78px;
          }
        
          .furniture-price-item {
            font-size: 18px;
            line-height: 1.50; 
          }
        
          .before-line::before {
            content: "";
            top: -30px;
            left: 0;
            position: absolute;
            height: 1px;
            background-color: var(--blue-font);
            width: 100%;
          }
        
          .after-line::after {
            content: "";
            top: 73px;
            left: 0;
            position: absolute;
            height: 1px;
            background-color: var(--blue-font);
            width: 100%;
          }
        
        }
        
        @media screen and (min-width: 1440px) {
            .container {
                max-width: 1440px;
              }
        
              .price-section > .container {
                max-width: 1128px;
              }
        
              .before-line::before {
                content: "";
                top: -30px;
                left: 0;
                position: absolute;
                height: 1px;
                background-color: var(--blue-font);
                width: 100%;
              }
            
              .after-line::after {
                content: "";
                top: 73px;
                left: 0;
                position: absolute;
                height: 1px;
                background-color: var(--blue-font);
                width: 100%;
              }
        }